<div style="text-align: center; background-color: #f2f2f2; padding: 20px; margin: 20px;">
    <h2>Contador</h2>
    <button style="padding: 10px 20px; background-color: #4caf50; color: white; border: none; cursor: pointer;" (click)="incrementar()">Incrementar</button>
    <button style="padding: 10px 20px; background-color: #f44336; color: white; border: none; cursor: pointer;" (click)="disminuir()">Disminuir</button>
    <p style="font-size: 18px; margin-top: 10px;">El valor actual del contador es: {{valor}}</p>
  </div>
  
  